* {
  box-sizing: border-box;
  }

.hero-container {
  background-color: #98777c;
}


.nav-ul {
  list-style: none;
  display: inline;
  align-items: center;
  background-color: transparent;
  text-align: left;
  width: 60vw;
  padding: 130px 0px 130px 820px;
  justify-content: end;
  margin-right: 2rem;
}

.nav-li {
  color: #fff;
  list-style: none;
  /* background-color: transparent; */
  text-decoration: none;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links {
  text-decoration: none;
  color: #1c38ba;
  font-size: 36px;
}

.nav-links:hover {
  border-bottom: 2px solid #fff;
  color: inherit;
  transition: all 0.2s ease-out;
}


@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }
}