.navbar {
  background-color: transparent;
  height: 500px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-header {
  font-size: 100px;
} 

.nav-ul {
    list-style: none;
    display: inline;
    align-items: center;
    background-color: transparent;
    text-align: left;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .nav-li {
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .nav-links {
    text-decoration: none;
    color: #1c38ba;
    font-size: 46px;
  }

  a {
    text-decoration: none;
    color: #1c38ba;
  }
 
  
  .nav-links:hover {
    border-bottom: 2px solid #fff;
    color: inherit;
    transition: all 0.2s ease-out;
  }
