@import url(//db.onlinewebfonts.com/c/9da41c570d5a221cb2486d78769a076d?family=Neue+Helvetica);
* {
  font-family: 'Helvetica-neue';
  margin-top: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* whatever files are in pages folder, render css here: Ceremony, Contact, Gifting, Lodging, Schedule, Home */

@media screen and (max-width: 375px) {
  .mobile {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}